VITE_CLOUDINARY_CLOUD_NAME=dkqhl6h0k
VITE_CLOUDINARY_API_KEY=856489312871378
VITE_CLOUDINARY_API_SECRET=bZmqm2f3bQakG8gMRMM-9m2FvDg
VITE_SLOT=mancala-monday
BLOCKCHAIN_TYPE=sepolia
#sepolia details
VITE_SEPOLIA_MANCALA_ADDRESS=0x28de22cb949ca8864814170bf327afe2e1086c9e78530a62bc23e5bb156237b
VITE_SEPOLIA_PROFILE_ADDRESS=0x25796161881c4c3fabf11e78a33498e385abae829cfd37379f44bb27c0374a
VITE_SEPOLIA_RPC_URL=https://api.cartridge.gg/x/starknet/sepolia
VITE_SEPOLIA_TORII_URL=https://api.cartridge.gg/x/mancala-monday/torii
VITE_SEPOLIA_MASTER_ADDRESS=0x02A54eFf65D55a2e7D2fC7E23eF0F0e6030dB0313b16c8F0eaD0b4a83807f6d6
VITE_SEPOLIA_MASTER_PRIVATE_KEY=0x0396533b7a1182ef03da483eca82e9dd2b17bee9c7fec07ac6cbbeb8bfd573cb
#mainnet details
VITE_MAINNET_MANCALA_ADDRESS=
VITE_MAINNET_PROFILE_ADDRESS=
VITE_MAINNET_RPC_URL=
VITE_MAINNET_TORII_URL=
VITE_MAINNET_MASTER_ADDRESS=
VITE_MAINNET_MASTER_PRIVATE_KEY=
