[world]
kind = "WorldContract"
class_hash = "0x76ced5a15cb43c7be7176cff4779cd57c56638a46ddf2c9da709d22298c5e5a"
original_class_hash = "0x76ced5a15cb43c7be7176cff4779cd57c56638a46ddf2c9da709d22298c5e5a"
abi = "manifests/sepolia/deployment/abis/dojo-world.json"
address = "0x7955064f111a0c0762b3010f2399292852b16dfae86abd3ab3e0545ac904dd7"
transaction_hash = "0x2394ba23b58941e2c53a23cf40f715ff808241c1a47a7118b8404497aff680d"
seed = "mancala_alpha"
manifest_name = "dojo-world"

[world.metadata]
profile_name = "sepolia"
rpc_url = "https://starknet-sepolia.public.blastapi.io/rpc/v0_7"

[base]
kind = "Class"
class_hash = "0x2427dd10a58850ac9a5ca6ce04b7771b05330fd18f2e481831ad903b969e6b2"
original_class_hash = "0x2427dd10a58850ac9a5ca6ce04b7771b05330fd18f2e481831ad903b969e6b2"
abi = "manifests/sepolia/deployment/abis/dojo-base.json"
tag = "dojo-base"
manifest_name = "dojo-base"

[[contracts]]
kind = "DojoContract"
address = "0x2ec3085386472c2500987c12536c8b8acb2985cc9c43dab7ee213f4f536575f"
class_hash = "0x7df3dafa576089cc87e27272b0da3da5125807a9c3e3f0d80ae1cc205c1ed8f"
original_class_hash = "0x7df3dafa576089cc87e27272b0da3da5125807a9c3e3f0d80ae1cc205c1ed8f"
base_class_hash = "0x2427dd10a58850ac9a5ca6ce04b7771b05330fd18f2e481831ad903b969e6b2"
abi = "manifests/sepolia/deployment/abis/contracts/mancala_alpha-actions-2c0baebe.json"
reads = []
writes = ["ns:mancala_alpha"]
init_calldata = []
tag = "mancala_alpha-actions"
manifest_name = "mancala_alpha-actions-2c0baebe"

[[models]]
kind = "DojoModel"
class_hash = "0x24e0e1e91bd85b9aa8431df325ba27a875e679692a993ab24b336f9b6e6ff50"
original_class_hash = "0x24e0e1e91bd85b9aa8431df325ba27a875e679692a993ab24b336f9b6e6ff50"
abi = "manifests/sepolia/deployment/abis/models/mancala_alpha-GameId-4205bbb7.json"
tag = "mancala_alpha-GameId"
manifest_name = "mancala_alpha-GameId-4205bbb7"

[[models.members]]
name = "id"
type = "u32"
key = true

[[models.members]]
name = "game_id"
type = "u128"
key = false

[[models]]
kind = "DojoModel"
class_hash = "0x65eb73a46b5e380d7fe224dbabf849b0e479e9bbbe72362c5eb8a0217d82379"
original_class_hash = "0x65eb73a46b5e380d7fe224dbabf849b0e479e9bbbe72362c5eb8a0217d82379"
abi = "manifests/sepolia/deployment/abis/models/mancala_alpha-GamePlayer-4fe4cbef.json"
tag = "mancala_alpha-GamePlayer"
manifest_name = "mancala_alpha-GamePlayer-4fe4cbef"

[[models.members]]
name = "address"
type = "ContractAddress"
key = true

[[models.members]]
name = "game_id"
type = "u128"
key = true

[[models.members]]
name = "pit1"
type = "u8"
key = false

[[models.members]]
name = "pit2"
type = "u8"
key = false

[[models.members]]
name = "pit3"
type = "u8"
key = false

[[models.members]]
name = "pit4"
type = "u8"
key = false

[[models.members]]
name = "pit5"
type = "u8"
key = false

[[models.members]]
name = "pit6"
type = "u8"
key = false

[[models.members]]
name = "mancala"
type = "u8"
key = false

[[models.members]]
name = "restart_requested"
type = "bool"
key = false

[[models]]
kind = "DojoModel"
class_hash = "0x4828947a0ea6c412ea0ae14e210ae99feeac80cab31ae55c474753e19785b70"
original_class_hash = "0x4828947a0ea6c412ea0ae14e210ae99feeac80cab31ae55c474753e19785b70"
abi = "manifests/sepolia/deployment/abis/models/mancala_alpha-MancalaGame-628bb438.json"
tag = "mancala_alpha-MancalaGame"
manifest_name = "mancala_alpha-MancalaGame-628bb438"

[[models.members]]
name = "game_id"
type = "u128"
key = true

[[models.members]]
name = "player_one"
type = "ContractAddress"
key = false

[[models.members]]
name = "player_two"
type = "ContractAddress"
key = false

[[models.members]]
name = "current_player"
type = "ContractAddress"
key = false

[[models.members]]
name = "last_move"
type = "u64"
key = false

[[models.members]]
name = "time_between_move"
type = "u64"
key = false

[[models.members]]
name = "winner"
type = "ContractAddress"
key = false

[[models.members]]
name = "status"
type = "GameStatus"
key = false

[[models.members]]
name = "is_private"
type = "bool"
key = false
