[package]
cairo-version = "=2.7.0"
name = "mancala"
version = "0.0.3"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[scripts]
migrate = "sozo build && sozo migrate plan && sozo migrate apply"

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v1.0.0-alpha.6" }

[[target.dojo]]

[profile.sepolia]
