[package]
cairo-version = "2.6.3"
name = "mancala"
version = "0.7.0"

[cairo]
sierra-replace-ids = true

[scripts]
migrate = "sozo build && sozo migrate plan && sozo migrate apply && ./scripts/default_auth.sh"
spawn = "./scripts/spawn.sh"
move = "./scripts/move.sh"

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v0.7.2" }

[[target.dojo]]

[tool.dojo]
initializer_class_hash = "0xOkhai"

[tool.dojo.env]
rpc_url = "http://192.168.86.222:8080/"
# Default account for katana with seed = 0
account_address = "0xb3ff441a68610b30fd5e2abbf3a1548eb6ba6f3559f2862bf2dc757e5828ca"
private_key = "0x2bbf4f9fd0bbb2e60b0316c1fe0b76cf7a4d0198bd493ced9b8df2a3a24d68a"
world_address = ""  # Update this line with your world address

[tool.dojo.world]
name = "Mancala"
description = "Mancala is a classic strategy board game reimagined as a decentralized, on-chain experience."
cover_uri = "file://assets/cover.png"
icon_uri = "file://assets/icon.png"
website = "https://www.starknet.africa/"

[tool.dojo.world.socials]
x = "https://twitter.com/starknetafrica"
github = "https://github.com/realm-of-ra/mancala"
telegram = "https://t.me/starknetafrica"
