[world]
kind = "Contract"
class_hash = "0x799bc4e9da10bfb3dd88e6f223c9cfbf7745435cd14f5d69675ea448e578cd"
original_class_hash = "0x799bc4e9da10bfb3dd88e6f223c9cfbf7745435cd14f5d69675ea448e578cd"
abi = "abis/deployments/dojo_world_world.json"
address = "0x1ee592601cde2eb4147136aadf1f2f07d4519d510e0cd013a4339dd09a1e192"
transaction_hash = "0x504f5faa64ad5218038b2ba2578751ab1b80a6a489fa35afe1c7247190736cf"
block_number = 3
seed = "mancala"
name = "dojo::world::world"

[base]
kind = "Class"
class_hash = "0x679177a2cb757694ac4f326d01052ff0963eac0bc2a17116a2b87badcdf6f76"
original_class_hash = "0x679177a2cb757694ac4f326d01052ff0963eac0bc2a17116a2b87badcdf6f76"
name = "dojo::base::base"

[[contracts]]
kind = "DojoContract"
address = "0x5a5936e60c561c07cb2225ebfb7205f7d204c14f6ed5ee331a3aa989feeeb28"
class_hash = "0x1f1a020216c90fa4c144aad3586554aa7b36715d9925b2fa2eb3080eff318f"
original_class_hash = "0x1f1a020216c90fa4c144aad3586554aa7b36715d9925b2fa2eb3080eff318f"
base_class_hash = "0x679177a2cb757694ac4f326d01052ff0963eac0bc2a17116a2b87badcdf6f76"
abi = "abis/deployments/contracts/mancala_systems_actions_actions.json"
reads = []
writes = []
computed = []
name = "mancala::systems::actions::actions"

[[models]]
kind = "DojoModel"
class_hash = "0x3f1405e8506538ce0fc3c2e7308fa5a2352481be2370ef954c10cd06a001419"
original_class_hash = "0x3f1405e8506538ce0fc3c2e7308fa5a2352481be2370ef954c10cd06a001419"
abi = "abis/deployments/models/mancala_models_mancala_game_game_id.json"
name = "mancala::models::mancala_game::game_id"

[[models.members]]
name = "id"
type = "u32"
key = true

[[models.members]]
name = "game_id"
type = "u128"
key = false

[[models]]
kind = "DojoModel"
class_hash = "0x2af0729b10b86352efca71c1632101b5629a923d27f96049e8e1f1121f304a5"
original_class_hash = "0x2af0729b10b86352efca71c1632101b5629a923d27f96049e8e1f1121f304a5"
abi = "abis/deployments/models/mancala_models_mancala_game_mancala_game.json"
name = "mancala::models::mancala_game::mancala_game"

[[models.members]]
name = "game_id"
type = "u128"
key = true

[[models.members]]
name = "player_one"
type = "ContractAddress"
key = false

[[models.members]]
name = "player_two"
type = "ContractAddress"
key = false

[[models.members]]
name = "current_player"
type = "ContractAddress"
key = false

[[models.members]]
name = "winner"
type = "ContractAddress"
key = false

[[models.members]]
name = "status"
type = "GameStatus"
key = false

[[models.members]]
name = "is_private"
type = "bool"
key = false

[[models]]
kind = "DojoModel"
class_hash = "0x62f296d1bbb85919111799c80c70422ae5cd414b9cb0d7fee53e34a73ea97a7"
original_class_hash = "0x62f296d1bbb85919111799c80c70422ae5cd414b9cb0d7fee53e34a73ea97a7"
abi = "abis/deployments/models/mancala_models_player_game_player.json"
name = "mancala::models::player::game_player"

[[models.members]]
name = "address"
type = "ContractAddress"
key = true

[[models.members]]
name = "game_id"
type = "u128"
key = true

[[models.members]]
name = "pit1"
type = "u8"
key = false

[[models.members]]
name = "pit2"
type = "u8"
key = false

[[models.members]]
name = "pit3"
type = "u8"
key = false

[[models.members]]
name = "pit4"
type = "u8"
key = false

[[models.members]]
name = "pit5"
type = "u8"
key = false

[[models.members]]
name = "pit6"
type = "u8"
key = false

[[models.members]]
name = "mancala"
type = "u8"
key = false

[[models]]
kind = "DojoModel"
class_hash = "0x776c124ca27fd63720cb0df9d875ce5b8789e592a491c418136657d059bf59a"
original_class_hash = "0x776c124ca27fd63720cb0df9d875ce5b8789e592a491c418136657d059bf59a"
abi = "abis/deployments/models/mancala_models_player_player.json"
name = "mancala::models::player::player"

[[models.members]]
name = "address"
type = "ContractAddress"
key = true

[[models.members]]
name = "games_won"
type = "u256"
key = false

[[models.members]]
name = "games_lost"
type = "u256"
key = false
